

/* ==============
  Print css
===================*/
@media print {
  .content {
    margin-top: 0;
    padding-top: 0;
  }
  .content-page {
    margin-left: 0 !important;
    margin-top: 0 ;
  }
  .container-fluid {
    width: 100%;
  }
}